.chevron {
  font: 32px/37px Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
  width: 1104px;
  margin: 0 48px;
}
.navigate {
  background: #000000;
  border: 2px solid #000000;
}
.navigate-list {
  text-align: right;
  padding: 0 60px;
  margin: 0;
}
.gradient {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
  border: 2px solid transparent;
  border-left: #000;
  border-right: 0;
}
.navigate-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 21px;
}
.navigate-item a {
  display: block;
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 30px 25px 29px;
}
.navigate-item a:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-width: 48px 0 48px 25px;
  border-style: solid;
  border-color: #fff #fff #fff transparent;
  position: absolute;
  top: 0;
  left: -25px;
}
.navigate-item a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-width: 48px 0 48px 25px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0;
  right: -25px;
}

.gradient a:hover {
  background: #fff;
  background-color: rgba(255, 255, 255, 0.7);
}
.gradient a:hover:after {
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.7);
}
.gradient a:hover:before {
  border-color: rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0.7)
    rgba(255, 255, 255, 0.7) transparent;
}
